.button-csv {
    font: inherit;
    font-weight: bolder;
    padding: 0.5rem 3rem;
    /* border: 2px solid; */
    border: 2px solid;
    border-color:gray;
    /* rgb(245, 87, 13) ; */
    border-radius: 22px;
    background:  #df323b;
    color: white;
    cursor: pointer;
    margin-left:230px;
    margin-top: 640px;
    text-decoration: none;
    display: inline-block;
  }
  
  .button-csv:focus {
    outline: none;
  }
  
  .button-csv:hover {
    background:  white;
    /* rgb(245, 87, 13); */
    border-color: black;
    /* rgb(116, 59, 33); */
    color: black;
  }
  
  /* .button-csv:active {
    background: #ffce00;
    border-color: #ff4382;
  } */