* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .NavbarItems-english2 {
    background: linear-gradient(to bottom right, #ff4382, #ffce00);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
  }
  .navbar-logo-english2 {
    color: #fff;
    justify-self: start;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .nav-menu-english2 {
    font-size: 16px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(5, auto);
    /* grid-gap: 1px; */
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 1rem;
  }
  
  .nav-links-english2 {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    list-style: none;
  }
  
  .nav-links-english2:hover {
    background-color: #e63c44;
    /* border-radius: 1px; */
    border-radius: 20px;
    transition: all 0.2s ease-out;
  }
  
  .body-div-english2 {
    box-shadow: 1px 5px crimson;
    /* box-shadow: 1px 10px 10px #f8f52e; */
    border-radius: 28px;
    /* background: linear-gradient(to bottom right, #f8f52e 0%, #fff 100%); */
      background: linear-gradient(to bottom right,#f36e6e, #f2f540 );
    
    /* background-color:#ff4382 ; */
    padding-top: 14px;
    padding-right:50px;
    padding-left:30px;
    margin-top: 40px;
   margin-bottom: 100px;
    /* align-content: space-around; */
    margin-left:450px;
    /* margin-right: 50px; */
    width:250px;
    height:60px;
    overflow: hidden;
  }
  
  .body-div-english2:hover {
    /* box-shadow: 1px 10px 10px #f8f52e; */
    box-shadow: 1px 5px crimson;
    /* background: linear-gradient(to bottom right, #ff4382, #ffce00); */
    background: linear-gradient(to bottom right, #f8f52e 0%, #fff 100%);
  }
  
  .text-english2 {
    font-size: 18px;
    font-weight: bold;
    color: crimson;
    margin-left:  0px;
    /* display: grid; */
    /* text-decoration: underline overline; */
    /* text-align: center; */
    /* padding-top: 15px; */
    border-radius:20px ;
    padding-top: 5px;
    padding-bottom: 5px;
     padding-left:10px ;
     padding-right: 10px;
  /* margin-top: 70px; */
  }
  
  .text-english2:hover {
    /* color: #000; */
    font-size: 15px;
    font-style: italic;
    /* margin-left:40px; */
    border-radius:10px;
    color: rgb(54, 51, 51);
    background-color: rgb(224, 204, 204);
      
  }
  
   
  .button-div-english2 {
    text-align: center;
    padding-top: 20px;
  }
  
  .all-divs-english2 {
    /* display: flex; */
    /* display: block; */
    /* background: linear-gradient(to bottom right, #bdb4af , #4e0f4b  ); 
    flex-direction: row;
    opacity: 0.8;
    /* background-color:#ccc; */
    position: relative;
    /* top: 0px;
    left: 0px; */
    margin-top: 5px;
  
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  
  .all-divs-english2 .body-div-english2 {
    /* margin-right: 1rem;
    margin-left: 4rem; */
    width: fit-content;
  }
  .button-english2 {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid;
    border-radius: 20px;
    background: #e63c44;
    color: white;
    cursor: pointer;
    margin-right: 0.1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button-english2:focus {
    outline: none;
  }
  
  .button-english2:hover {
    background: #d7f74b;
    border-color: #ff4382;
  }
  
  .button-english2:active {
    background: #ffce00;
    border-color: #ff4382;
  }
  
  .background-english2 {
    /* opacity:0.8; */
    /* background-color:#ccc; */
    position: fixed;
    margin-top: 180px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
  }
  
  .bow-english2 {
    margin-top: 110px;
    width: 100%;
    height: 130px;
  }
  
  .outerDiv-english2 {
    /* background-image: url("../../assets/studentbg.jpeg"); */
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.1px;
  }
  .logo-english2 {
    height: 65px;
    border-radius: 90rem;
    animation: example 5s linear infinite;
  }
  
  @keyframes example {
    0% {
      transform: perspective(100px) rotateY(0deg);
    }
    100% {
      transform: perspective(100px) rotateY(360deg);
    }
  }
  /* .dropDown {
    margin-top: 3rem;
  } */