/* .body {
  background: palevioletred;
} */
/* .toolsDiv {
  width: 15rem;
  height: 100vh;
  background: grey;
  color: white;
  text-align: center;
}
.toolsDiv h1 {
  box-shadow: 5px 10px 18px #555353;
}

.toolsDiv li {
  margin-top: 1rem;
  width: 15rem;
  border: 1px solid rgb(24, 22, 22);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.toolsDiv li:hover {
  box-shadow: 5px 10px 8px rgb(77, 75, 75);
  margin-top: 1rem;
  font-weight: bolder;

  border: 1px rgb(24, 22, 22);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
} */

.contentDiv {
  float: right;
  width: 50rem;
  height: 30rem;
  background: white;
  margin-top: 5rem;
  margin-right: 15rem;
}

.btnSaveWS {
  float: right;
  margin-top: -4rem;
  margin-right: 15rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  border-radius: 20px;
  background: #e63c44;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.btnSaveWS:focus {
  outline: none;
}

.btnSaveWS:hover {
  background: #d7f74b;
  border-color: #ff4382;
}

.btnSaveWS:active {
  background: #ffce00;
  border-color: #ff4382;
}

.headingDrag:hover {
  cursor: pointer;
  border: 1px solid pink;
}
.templates {
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 540px;
  font-weight: bolder;
  font: 4em sans-serif;
  /* text-decoration: underline  ;  */
  color: #f85f06;
}

/* #cl {
  background: #ff4382;
  width: 50rem;
  height: 30rem;
  background: white;
  margin-top: 5rem;
  margin-right: -15rem;
} */
