.outerDiv {
  background-image: url("./assets/school-fall-616.jpeg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.NavbarItems-Auth {
  background: linear-gradient(to bottom right, #000, #fff);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2 rem;
}
.navbar-logo-Auth {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu-Auth {
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(5, auto);

  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 1rem;
}

.nav-links-Auth {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  list-style: none;
}

.nav-links-Auth:hover {
  background-color: rgb(245, 87, 13);
  border-radius: 1px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
}

.card {
  float: right;

  padding: 1rem;
  margin: 60px;
  margin-top: 120px;
  margin-right: 169px;
  font-weight: bolder;
  overflow: hidden;
  background-color: white;

  width: 400px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 18px;
}

.logo-Auth {
  height: 65px;
  border-radius: 90rem;
  /* animation: example 5s linear infinite; */
}
.signbutton {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid;

  background: #ffce00;

  color: black;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  transition: 0.3s;
  animation: ease-in;

  border-color: black;
}

.googleLogin {
  font: inherit;
  padding: 0.5rem 1.5rem;
  padding-left: 65px;
  /* padding-right: 80px; */
  font-weight: bolder;
  cursor: pointer;
  margin-left: 89px;
  margin-top: 10px;
  background-color: white;
  margin-right: 67px;
  /* box-shadow: 0px 0px 30px -5px black; */
  transition: 0.3s;
  animation: ease-in;
}
.googleLogin:hover {
  font: inherit;
  padding: 0.5rem 1.5rem;
  padding-left: 65px;

  font-weight: bolder;
  cursor: pointer;
  margin-left: 89px;
  margin-top: 10px;
  /* background-color: white; */
  margin-right: 67px;
  color: black;
  border-color: #ff4382;
  transform: scale(1.1);
}

.signbutton:focus {
  outline: none;
}

.signbutton:hover {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  /* border-radius: 25px; */
  background: #e63c44;
  /* color: white; */
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  background: white;
  /* border-color:#ff4382; */
  border-color: #ffce00;
  /* border-color:black; */
  color: black;
  transform: scale(1.1);
  /* transform: scale(1.1); */
}

.signbutton:active {
  background: #ffce00;
  border-color: #ff4382;
}

#move {
  margin-left: 1rem;
  margin-top: 15px;
}
.text {
  text-align: center;
  align-items: center;
  /* margin-bottom: 0%; */
}

#role {
  padding: 9px;
  margin: 1rem;
  font-size: small;
}

#login {
  border-radius: 40px;
}
.notice {
  border-radius: 30px;
  padding-left: 100px;
  padding-bottom: 40px;
  padding-top: 60px;
  margin: 70px;
  font-weight: bolder;
  background: rgb(255, 255, 255, 0.2);
  height: 40%;
  width: 650px;
  align-items: center;
  box-shadow: 5px 10px 18px #888888;
  /* box-shadow: 5px 10px 8px 10px #888888; */
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.notice div {
  font-style: oblique;
  color: #f7734b;
  font-size: large;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.notice h1 {
  text-shadow: 8px 2px 8px #c41e63;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 2rem;
}

.signbutton1 {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  background: white;
  /* color: #e63c44; */
  color: #ffce00;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  transition: 0.3s;
  animation: ease-in;
  /* display: inline-block; */
}
.signbutton1:hover {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  cursor: pointer;
  color: black;
  margin-right: 1rem;
  text-decoration: none;
  background: white;
  border-color: #ff4382;

  transform: scale(1.1);
}

.books {
  margin-top: 10px;
  height: 500px;
  width: 300px;
}
@media (max-width: 700px) {
  .notice {
    display: none;
  }
  .card {
    /* box-shadow: 0 2px 8px crimson; */
    float: right;
    border-radius: 30px;
    padding: 1rem;
    margin: 60px;
    margin-right: 30%;
    font-weight: bolder;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
    width: 60%;
    align-items: center;
  }
}

.search-button-teacher {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 2px solid;
  /* background:#ffce00; */
  background: rgb(245, 87, 13);
  color: black;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  transition: 0.3s;
  animation: ease-in;
  border-color: black;
}

.search-button-teacher:hover {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 2px solid;
  /* border-radius: 25px; */
  /* background: #e63c44; */
  /* color: white; */
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  background: white;
  /* border-color:#ff4382; */
  border-color: rgb(245, 87, 13);
  /* border-color:black; */
  color: black;
  transform: scale(1.1);
  font-weight: bolder;
  /* transform: scale(1.1); */
}

.search-button-teacher:active {
  background: #ffce00;
  border-color: #ff4382;
}
